<a href="https://colab.research.google.com/github/SabirAjmal10/Hotel-Booking-Analysis-EDA-Capstone-Project/blob/main/Copy_of_Hotel_Booking_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Hotel Booking Analysis**

## <b> Have you ever wondered when the best time of year to book a hotel room is? Or the optimal length of stay in order to get the best daily rate? What if you wanted to predict whether or not a hotel was likely to receive a disproportionately high number of special requests? This hotel booking dataset can help you explore those questions!

## <b>This data set contains booking information for a city hotel and a resort hotel, and includes information such as when the booking was made, length of stay, the number of adults, children, and/or babies, and the number of available parking spaces, among other things. All personally identifying information has been removed from the data. </b>

## <b> Explore and analyze the data to discover important factors that govern the bookings. </b>

#**Data Pre-processing**

##**Importing libraries**

In [1]:
#Importing libraries

#importing pandas libraries with alias of pd
import pandas as pd

#importing numpy libraries with alias as np 
import numpy as np

#importing matplotlib library with alias as plt
import matplotlib.pyplot as plt

#importing seaborn library with alias of sns
import seaborn as sns

In [4]:
#Importing datasets
df = pd.read_csv("/content/Hotel Bookings.csv")
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0,0.0,0.0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0,0.0,0.0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75,0.0,0.0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75,0.0,0.0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98,0.0,1.0,Check-Out,2015-07-03

In [6]:
#collecting the information on quality and type of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14590 entries, 0 to 14589
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           14590 non-null  object
 1   is_canceled                     14590 non-null  int64
 2   lead_time                       14590 non-null  int64
 3   arrival_date_year               14590 non-null  int64
 4   arrival_date_month              14590 non-null  object
 5   arrival_date_week_number        14590 non-null  int64
 6   arrival_date_day_of_month       14590 non-null  int64
 7   stays_in_weekend_nights         14590 non-null  int64
 8   stays_in_week_nights            14590 non-null  object
 9   adults                          14590 non-null  object
 10  children                        14590 non-null  object
 11  babies                          14590 non-null  object
 12  meal                            14590 non-null  object
 13  country                         14569 non-null  object
 14  market_segment                  14590 non-null  object
 15  distribution_channel            14590 non-null  object
 16  is_repeated_guest               14590 non-null  object
 17  previous_cancellations          14590 non-null  int64
 18  previous_bookings_not_canceled  14590 non-null  object
 19  reserved_room_type              14589 non-null  object
 20  assigned_room_type              14590 non-null  object
 21  booking_changes                 14590 non-null  int64
 22  deposit_type                    14590 non-null  object
 23  agent                           11307 non-null  float64
 24  company                         1242 non-null   float64
 25  days_in_waiting_list            14590 non-null  int64
 26  customer_type                   14590 non-null  object
 27  adr                             14589 non-null  object
 28  required_car_parking_spaces     14588 non-null  float64
 29  total_of_special_requests       14588 non-null  float64
 30  reservation_status              14588 non-null  object
 31  reservation_status_date         14588 non-null  object
dtypes: float64(4), int64(9), object(19)
memory usage: 3.6+ MB

In [7]:
df.isnull().sum().sort_values(ascending = False)

company                           13348
agent                              3283
country                              21
reservation_status_date               2
reservation_status                    2
total_of_special_requests             2
required_car_parking_spaces           2
adr                                   1
reserved_room_type                    1
previous_cancellations                0
customer_type                         0
days_in_waiting_list                  0
deposit_type                          0
booking_changes                       0
assigned_room_type                    0
previous_bookings_not_canceled        0
hotel                                 0
is_canceled                           0
distribution_channel                  0
market_segment                        0
meal                                  0
babies                                0
children                              0
adults                                0
stays_in_week_nights                  0
stays_in_weekend_nights               0
arrival_date_day_of_month             0
arrival_date_week_number              0
arrival_date_month                    0
arrival_date_year                     0
lead_time                             0
is_repeated_guest                     0
dtype: int64

In [8]:
df.shape

(14590, 32)

In [11]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

##**Summary of data pre processing**

*   Dataset have 119390 rows and 32 columns
*   Dataset have null values in company, agent, country and children columns
*   Dataset have some object type datas

#**Data Cleaning**

In [14]:
#filling the missing value of company and agent with 0
df[['company','agent']]= df[['company','agent']].fillna(0)

#filling the missing value of country with mode
df['country']= df['country'].fillna(df.country.mode().to_string())

#filling the  missing value of childern value by replacing round value of mean
df['children']= df['children'].fillna(round(df.children.mean()))

TypeError: ignored

#**Exploratory Data Analysis**